
<button type="button" class="btn btn-primary" onclick="CreateApplication()">Create Application</button>

<script src="~/Scripts/jquery-3.3.1.js"></script>

<script>
    $.ajax({
        url: 'http://localhost:52522/FamilyMap/AddFamilyMember',
        type: "GET",
        success: function () {

        },
        error: function () {
            alert("Something went wrong");
        }
    });
</script>

